:root {
  --c-brand: #3eaf7c;
  --c-brand-light: #42b983;
  --c-text: #2c3e50;
  --c-text-light: #4e6e8e;
  --c-text-lighter: #7e8fa6;
  --c-border: #eaecef;
  --c-bg: #ffffff;
  --c-bg-light: #f8f9fa;
  --c-bg-lighter: #f3f4f5;
  --c-bg-navbar: #ffffff;
  --c-bg-sidebar: #ffffff;
}
